
.home{
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.search{
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.search_box{
    width: 600px;
    height: 400px;
    position: absolute;
    left: calc(50% - 300px);
    top: calc(50% - 220px);
    padding: 2px 100px 0px 0px;
}

.google_logo{
    width: 400px;
    height: auto;
    margin-bottom: 25px;
    margin-left: 100px;
}

.search_bar{
    width: 580px;
    min-height: 44px;
    margin-left: 10px;
    box-shadow: 1px 1px 2px #ccc;
    border: 0.5px solid rgb(196, 196, 196);
    position: relative;
    padding: 4px 0px 3px 0px;
}

.search_bar input{
    width: 500px;
    height: 34px;
    line-height: 34px;
    font-size: 16px;
    border: none;
    margin-left: 15px;
}

.search_bar input:focus{
    outline: none;
}

.search_bar img{
    width: 38px;
    height: 38px;
    position: absolute;
    right: 2px;
    top: 1px;
    cursor: pointer;
}

.autocomplete_suggestions{
    width: 100%;
    height: auto;
}

.autocomplete_suggestions_item{
    width: 100%;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    padding-left: 15px;
}

.autocomplete_suggestions_item:hover{
    background: #ccc;
}

